.container {
	display: inline-flex;
	flex-direction: column;
	gap: 0.2rem;
	width: 100%;
}

.label {
	text-align: left;

}

.error {
	padding-top: 5px;
	padding-bottom: 5px;
	text-wrap: wrap;
}

.input {
	display: inline-flex;
	flex-direction: column;
}