.container {
  min-height: 3rem;
  padding-top: 0.5rem;
}

.button {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgb(113, 113, 255);
  height: 3rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  justify-content: space-between;
  background-color: rgba(175, 200, 250, 0.294);
}

.form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-top: 1px solid gainsboro;
  padding: 1rem;
  background-color: white;
  border-bottom: 1px solid rgba(139, 139, 139, 0.766);
}
