.container {
  min-height: 3rem;
  padding-top: 0.5rem;
}

.form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  border-radius: 2px;
}

.deleteButton {
  color: red;
  font-size: 0.9rem;
  text-decoration: underline;
}

.saveButton {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: blue;
  color: white;
  border-radius: 2px;
}
